@import "tailwindcss";

@theme {
  --font-cinzel: 'Cinzel', serif;
  --font-lato: 'Lato', sans-serif;
}

@layer base {
  html {
    @apply overflow-y-auto;
  }
  body {
    @apply bg-black text-slate-100 min-h-screen overflow-x-hidden font-lato overflow-y-auto;
  }
}
