@import "tailwindcss";

@theme {
  --font-cinzel: 'Cinzel', serif;
  --font-lato: 'Lato', sans-serif;
}

@layer base {
  body {
    @apply bg-black text-slate-100 min-h-screen overflow-hidden font-lato;
  }
}
